body{
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    color: #000000;
}
 
.navbar{
    background:linear-gradient(90deg, #FD6683, #B17ADA)  !important;
    font-weight: bold;
}

.logo-navbar{
    height: 80px;
    width: auto;
}

@media (max-width: 768px){
    .logo-navbar{
        height: 70px;
    }
}

#hero{
    background: linear-gradient(135deg, #7BDBC4, #B17ADA);
}

#hero h1{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}

.btn-primary{
    background-color: #e764a6;
    border: none;
    border-radius: 20px;
}
.btn-primary:hover{
    background-color: #FFDF6C;
} 

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(136, 4, 72, 0.463);
    background: linear-gradient(120deg, #9fccfa, #438bbe);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(136, 4, 72, 0.463);
}

footer{
    background: linear-gradient(90deg, #B17ADA, #FD6683);
    font-size: 0.9rem;
    color: white;
    padding: 20px 0;
}

#introduccion h5{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;

}

#realizar-sorteo{
    background: linear-gradient(135deg, #ffda8f, #fa9fcc);
}

#nosotros{
    background: linear-gradient(135deg, #935cb3, #e7a5fb);
    color: white;
}

.btn{
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.05);
}