.organizador-section{
    min-height: 90vh;
    background: rgb(208, 244, 250);
    display: flex;
    align-items: center;
}

.card-organizador{
    background-color: #3dadd6;
    color: white;
    border-radius: 25px;
    border: none;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card-organizador:hover{
    transform: translateY(-5px);
}

.card-organizador input{
    border-radius: 12px;
    padding: 12px;
    border: 2px solid #23698f;
    transition: 0.25s;
}

.card-organizador input:focus{
    border-color: #7ac7da;
    box-shadow: 0 0 0 0.2rem rgba(177,122,218,0.25);
}

.card-organizador .btn-primary{
    border-radius: 30px;
    font-weight: bold;
    background-color: #84c3e7;
    border: none;
}

.card-organizador .btn-primary:hover{
    background-color: #226d86;
}

#participarBox{
    margin-top: 20px;
    padding: 15px;
    background: #c8f5ff;
    border-radius: 15px;
    border: 1px solid #bbe6f4;
    animation: fadeIn 0.3s ease-in-out;
}

#participarBox p{
    margin-bottom: 10px;
    color: #2a7a9f;
}

#participarBox .btn{
    border-radius: 25px;
    padding: 6px 20px;
    font-weight: bold;
}


