.participantes-section{
    min-height: 80vh;
    align-items: center;
}

.card-participantes{
    max-width: 420px;
    width: 100%;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #f9c5e0, #e764a6);
}

.lista-participantes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.participante-item{
    background: #f3f3f3;
    border-radius: 12px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.participante-item:hover{
    background: #ffeaf5;
}

.participante-nombre{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}

.btn-eliminar{
    border: none;
    background: transparent;
    color: #999;
    font-size: 18px;
    cursor: pointer;
}

.btn-eliminar:hover{
    color: #FD6683;
}

.btn-add{
    background: #e9e9e9;
    border-radius: 12px;
    font-size: 20px;
}

.btn-add:hover{
    background: #B17ADA;
    color: white;
}